---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import WhySection from '../components/WhySection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import FounderSection from '../components/FounderSection.astro';
---

<Layout title='The Happieness Empire'>
	<Navbar />
	<main>
		<Hero />
		<WhySection />
		<ServicesSection />
		<FounderSection />
		<section id='impact'>...</section>
		<section id='why'>...</section>
		<section id='services'>...</section>
		<section id='founder'>...</section>
		<section id='social'>...</section>
		<section id='results'>...</section>
		<section id='contact'>...</section>
	</main>
</Layout>
