---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='We believe that a happy, healthy workforce is the ​cornerstone of a successful organization. Our vision is to ​lead the global movement towards prioritizing mental ​health and emotional resilience in the corporate sector.'
		/>
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />

		<!-- Title and SEO -->
		<title>The Happiness Empire</title>

		<!-- Fonts -->
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'
			rel='stylesheet'
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	*,
	*::after,
	*::before {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	:root {
		--accent: #b41cc2;
		--accent-light: #fee9ff;
		--accent-dark: #feecec;

		--accent-tr1: rgba(232, 64, 144, 0.1);
		--accent-tr2: rgba(232, 64, 144, 0.2);
		--accent-tr3: rgba(180, 28, 194, 0.3);

		--secondary: #3349b6;
		--secondary-tr1: rgba(51, 73, 182, 0.1);
		--secondary-tr3: rgba(51, 73, 182, 0.3);

		--gradient-start: #b41cc2;
		--gradient-end: #cc3ed9;
	}

	html {
		font-family: 'Poppins', system-ui, sans-serif;
		background: #f2eaea;
	}

	section {
		min-height: 80vh;
		padding: 2rem 4rem 6rem;
		max-width: calc(100% - 1vw);
	}

	@media (max-width: 768px) {
		section {
			padding-inline: 1rem;
		}
	}
</style>
